#psycopg2-binary==2.9.10  # Pin the version you want
flask
pygrib
matplotlib
imageio
geopandas
herbie
pillow
django  # Or other package that may require psycopg2
libpq-dev
#--no-binary psycopg2  # Explicitly block psycopg2 from being built
